asgiref==3.8.1
beautifulsoup4==4.12.3
distlib==0.3.8
Django==4.2.16
django-adminlte3==0.1.6
django-bootstrap-v5==1.0.11
filelock==3.14.0
pillow==11.0.0
platformdirs==4.2.2
soupsieve==2.6
sqlparse==0.5.1
tzdata==2024.2
virtualenv==20.26.2
