<!-- task_confirm_delete.html -->
{% extends 'basic/dashboard/main_nav.html' %}
{% load static %}

{% block title %}Goals{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Confirm Delete</h1>
    <p>Are you sure you want to delete "{{ goal.goal_title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'tasks:task_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}